body {
  font-family: "Roboto", sans-serif;
}

label {
  font-family: "Roboto", sans-serif;
}

.dash-dropdown {
  font-family: "Roboto", sans-serif;
}

h1,
h5 {
  font-family: "Roboto", sans-serif;
}

/* In your custom.css file html,
.app-container, body,*/

.row,
.column,
.container {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem; /* Adjust as needed */
}

h5 {
  font-size: 1.5rem; /* Adjust as needed */
}
