body {
  font-family: "Roboto", sans-serif; /* or 'Roboto', sans-serif */
}

label {
  font-family: "Roboto", sans-serif; /* Applies to form labels */
}

.dash-dropdown {
  font-family: "Roboto", sans-serif; /* Applies to dropdown text */
}

h1 {
  font-family: "Roboto", sans-serif; /* Applies to headers */
}
